<div class="my-component">
    This component is defined in the <strong>CanvasComponentLibraryExample</strong> library.
</div>
<div @ref="@divCanvas" @onclick="@OnClick">
    <BECanvas @ref="@myCanvas" Height="800" Width="800"></BECanvas>
</div>
